h2 {
        font-size: 50px;
}

.contenedor {
        display: flex;
        justify-content: center;
        gap: 1.5rem;

}

.subcontenedor {
        display: flex;
        flex-direction: column;
        border: 5px solid gray;
        padding: 2%;

}

.foto {
        width: 100%;
        height: auto;
        border: 1px solid gray;
        display: block;
        object-fit: cover;
        margin-bottom: 50px;


}

.nombre {
        font-size: 30px;
}

.precio {
        font-size: 30px;

}